* {
  margin: 0;
}

body {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 1.05rem;
  color: #000000;
  mix-blend-mode: normal;
  background-color: #fffae6;
}
